.introduction-container{
    position: absolute;
    color: white;
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
}
.introduction-container > h1{
    text-align: center;
}
 .introduction-container > span{
    display: flex;
    justify-content: center;
 }
.introduction-container > span > a{
    color: white;
}
.introduction-container > a{
    display: flex;
    justify-content: center;
}
.introduction-container > a > button{
    color: white;
    height: 50px;
    width: 150px;
    font-size: 17px;
    background-color: #1c3144;
    border-radius: 5px;
}
.wikipediaLink{
    color: white;
}
