.goalsSidePanel{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  width: 50%;
  left: 0%;
  height: inherit;
  transition: rigth 0.5s ease, width 0.5s ease;
  overflow: auto;
  background-color: #1c3144;
  color: white;
  z-index: 1;
}

div > .goalSelected{
  background-color: #3f5364;
}

@media screen and (max-width: 1150px){
  div > .goalsSidePanel.left {
    width: 50%;
  }

}
@media screen and (max-width: 620px){
  div > .goalsSidePanel{
    width: 100%;
  }
  
}
  
.goalsSidePanel.left {
  width: 33.333vw;
  right: 66.667%
}

.goalTitle {
  box-sizing: border-box;
  cursor: pointer;
  min-height: 50px;
  border-radius: 5px;
  border-color: white;
  border-style:solid;
  margin: 5px;
  background-color: #1c3144;
  color: white;
}
.goalTitleContainer{
  display: flex;
  align-items: center;
  max-width: 100%
}

.sidePanelNewGoalForm > input{
  height: 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
.sidePanelNewGoalForm > button{
  position: absolute;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  background-color: transparent;
  border: none;
}
